In [1]:
name = "John"
print("Hello " + name)

Hello John

In [2]:
"String here {} then also {}".format("something", "something else")

'String here something then also something else'

In [3]:
"The {} {} {}".format("fox", "brown", "quick")

'The fox brown quick'

In [4]:
"The {2} {1} {0}".format("fox", "brown", "quick")

'The quick brown fox'

In [5]:
"The {0} {1} {0}".format("fox", "brown", "quick")

'The fox brown fox'

In [6]:
"The {q} {b} {f}".format(f="fox", b="brown", q="quick")

'The quick brown fox'

Float formatting "{value:width.precision f}"

In [7]:
result = 100/777

In [10]:
"The result was {}".format(result)

'The result was 0.1287001287001287'

In [11]:
"The result was {r:1.3f}".format(r = result)

'The result was 0.129'

In [13]:
"The result was {:10.3f}".format(result)

'The result was      0.129'

### String literal

In [14]:
name = "John"

In [15]:
f"Hello, his name is {name}"

'Hello, his name is John'

In [19]:
f"Result was {result:1.3f}"

'Result was 0.129'

### Formatting with placeholders

In [20]:
"Hello, his name is %s." %"John"

'Hello, his name is John.'

In [21]:
"Hello, %s name is %s." %("her", "Alice")

'Hello, her name is Alice.'

In [22]:
print("I wrote %s programs today." %3.75)
print("I wrote %d programs today." %3.75)

I wrote 3.75 programs today.
I wrote 3 programs today.

In [24]:
"Floating point numbers: %5.2f" %(12.144)

'Floating point numbers: 12.14'

In [25]:
print('{0:<8} | {1:^8} | {2:>8}'.format('Left','Center','Right'))
print('{0:<8} | {1:^8} | {2:>8}'.format(11,22,33))

Left     |  Center  |    Right
11       |    22    |       33

In [26]:
print('{0:=<8} | {1:-^8} | {2:.>8}'.format('Left','Center','Right'))
print('{0:=<8} | {1:-^8} | {2:.>8}'.format(11,22,33))

Left==== | -Center- | ...Right
11====== | ---22--- | ......33