# Lists

In [18]:
my_list = [1, 2, 3]

In [19]:
my_list = ['string', 100, 23.2]

In [20]:
len(my_list)

3

In [21]:
my_list = ['one', 'two', 'three']

In [22]:
my_list[0]

'one'

In [23]:
my_list[1:]

['two', 'three']

In [24]:
another_list = ['four', 'five']

In [25]:
my_list + another_list

['one', 'two', 'three', 'four', 'five']

In [26]:
new_list = my_list + another_list

In [27]:
new_list[0] = 'ONE ALL CAPS'
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [28]:
new_list.append('six')
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [29]:
new_list.pop()

'six'

In [30]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [31]:
my_list = [2, 1, 5, 8, 7]
my_list.sort()

In [32]:
my_list

[1, 2, 5, 7, 8]

In [33]:
my_list.reverse()

In [34]:
my_list

[8, 7, 5, 2, 1]